<md-dialog aria-label="{{recipe.name}}" flex="50">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{recipe.name}}</h2>
			<span flex></span>
			<md-button class="md-fab md-mini" aria-label="update recipe" class="md-icon-button" data-ng-click="postRecipe(recipe)">
				<md-tooltip md-direction="left">
					Submit
				</md-tooltip>
				<i class="material-icons dark_black">add</i>
			</md-button>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon aria-label="Close dialog"><i class="material-icons">close</i></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<form name="editRecipe">
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="Details">
					<md-content class="md-padding">
						<div layout="column" layout-align="space-between">
							<div layout="row" layout-align="space-between">
								<md-input-container class="md-block" flex="45">
									<label>Name</label>
									<input name="name" data-ng-model="recipe.name"/>
								</md-input-container>
								<span flex></span>
								<md-input-container flex="45">
									<label>Description</label>
									<textarea name="description" data-ng-model="recipe.description"></textarea>
								</md-input-container>
							</div>
							<div layout="row" layout-align="space-between">
								<md-input-container class="md-block" flex="40">
									<label>Course</label>
									<md-select ng-model="recipe.course">
										<md-option ng-repeat="course in courses" data-ng-value="recipe.course">
											{{course}}
										</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block" flex="25">
									<label>Calories</label>
									<input name="calories" type="number" data-ng-model="recipe.calories"/>
								</md-input-container>
								<md-input-container class="md-block" flex="25">
									<label>Servings</label>
									<input name="servings" type="number" data-ng-model="recipe.servings"/>
								</md-input-container>
							</div>
						</div>
						<div layout layout-align="center center">
							<div flex="15" layout layout-align="left center">
								<span class="md-body-1">Rating</span>
							</div>
							<md-slider md-discrete ng-model="recipe.rating" step="1" min="1" max="5" aria-label="rating" flex="100"/>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="Ingredients">
					<md-content class="md-padding">
						<md-input-container class="md-block">
							<label>Ingredients</label>
							<textarea data-ng-model="recipe.ingredients" placeholder="Put each ingredient on its own line."></textarea>
						</md-input-container>
					</md-content>
				</md-tab>
				<md-tab label="Instructions">
					<md-content class="md-padding">
						<md-input-container class="md-block">
							<label>Instructions</label>
							<textarea data-ng-model="recipe.instructions" placeholder="Put each step on its own line."></textarea>
						</md-input-container>
					</md-content>
				</md-tab>
			</md-tabs>
		</form>
	</md-dialog-content>
</md-dialog>
