<div ng-cloak>
	<md-content layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="50" layout="column" layout-wrap>
			<md-card ng-repeat="recipe in vm.recipes">
				<img ng-src="data:image/png;base64,{{recipe.image[1]}}" class="md-card-image center-cropped">
				<md-card-title flex="auto">
					<md-card-title-text>
						<span class="md-title">{{recipe.name}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-divider layout-margin></md-divider>
				<div layout="row" layout-margin>
					<div flex="50" class="md-body-1">
						Course: {{recipe.course}}
					</div>
					<div flex="30" class="md-body-1">
						Servings: {{recipe.servings}}
					</div>
				</div>
				<md-card-content>
					<p>
						{{recipe.description}}
					</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" aria-label="show_more" ng-click="vm.show(recipe)">
						<md-icon><i class="material-icons">expand_more</i></md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Edit" ng-click="vm.edit(recipe)">
						<md-icon><i class="material-icons">edit</i></md-icon>
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</md-content>
</div>
