<md-toolbar class="md-whiteframe-z1">
	<div class="md-toolbar-tools">
		Add Recipe
		<span flex></span>
		<md-button class="md-fab md-mini" aria-label="add recipe" class="md-icon-button" data-ng-click="vm.saveRecipe()">
			<md-tooltip md-direction="left">
				Submit
			</md-tooltip>
			<i class="material-icons dark_black">add</i>
		</md-button>
	</div>
</md-toolbar>
<md-whiteframe class="md-whiteframe-3dp">
	<form name="addRecipe">
		<div layout="column" flex>
			<div layout="row" layout-align="space-between">
				<div layout="column" flex="50">
					<div layout="row" layout-align="space-between">
						<md-input-container class="md-block" flex="45">
							<label>Name</label>
							<input name="name" data-ng-model="vm.recipe.name"/>
						</md-input-container>
						<span flex></span>
						<md-input-container flex="45">
							<label>Description</label>
							<textarea name="description" data-ng-model="vm.recipe.description"></textarea>
						</md-input-container>
					</div>
					<div layout="row" layout-align="space-between">
						<md-input-container class="md-block" flex="40">
							<label>Course</label>
							<md-select ng-model="vm.recipe.course">
								<md-option ng-repeat="course in vm.courses" data-ng-value="course">
									{{course}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container class="md-block" flex="25">
							<label>Calories</label>
							<input name="calories" type="number" data-ng-model="vm.recipe.calories"/>
						</md-input-container>
						<md-input-container class="md-block" flex="25">
							<label>Servings</label>
							<input name="servings" type="number" data-ng-model="vm.recipe.servings"/>
						</md-input-container>
					</div>
				</div>
				<div layout="column" flex="50" layout-align="space-around center" layout-padding layout-margin>
					<div id="previewContainer" class="md-whiteframe-3dp" layout-align="center center" flex="nogrow"></div>
					<input type="file" data-ng-model="image" media-preview preview-container="previewContainer" data-ng-change="vm.recipe.image.push(image.base64)" base-sixty-four-input>
				</div>
			</div>
			<div layout="row" layout-align="space-between">
				<div layout="column" flex="45">
					<md-input-container class="md-block">
						<label>Ingredients</label>
						<textarea data-ng-model="vm.recipe.ingredients" rows="20" placeholder="Put each ingredient on its own line." data-ng-list="&#10;" data-ng-trim="false"></textarea>
					</md-input-container>
				</div>
				<div layout="column" flex="45">
					<md-input-container>
						<label>Instructions</label>
						<textarea data-ng-model="vm.recipe.instructions" rows="20" placeholder="Put each step on its own line." data-ng-list="&#10;" data-ng-trim="false"></textarea>
					</md-input-container>
				</div>
			</div>
		</div>
	</form>
</md-whiteframe>
